body {
    background-image: url(./images/background.gif);
}

.tieUp {
    width: 800px;
    margin: 0 auto;
}
header {
    background-image: url(./images/cover02.png);
    text-align: center;
    height: auto;
    padding: 80px;
    background-size: cover;
}
h1 {
    color: white;
    text-align: center;
    font-size: 80px;
    margin: 0;
}

header img {
    border-radius: 50%;
    width: 120px;
    border: 5px solid white;
}
header p {
    text-align: center;
    color: white;
    border-top: 4px solid;
    margin: 0 auto;
    width: fit-content;
    padding: 10px 20px;
}

main {
    background-color: lightgray;
    padding: 0.1px;
    
}

.section {
    margin: 20px;
    padding: 20px;
    
    display: block;
}
.section h2 {
    margin: 0 0 20px;
    font-size: 20px;
}
.information {
    
    background-color: white;
    background-image: url(./images/icon-information.png);
    background-repeat: no-repeat;
    background-position: right 30px center ;
    
}
.skills {
    background-color: white;
    background-image: url(./images/icon-skills.png);
    background-repeat: no-repeat;
    background-position: right 30px center;
    
}
ul {
    margin: 0 0 0px;
    margin-block-start: 0;
    margin-inline-start: 0;
    padding-inline-start: 0;
}
li {
    list-style-type: none;
    
}





footer {
    text-align: center;
    background-color: white;
    padding: 20px 0px;
}
footer a {
    border: 4px solid black;
    border-radius: 40px;
    padding: 10px 20px;
    display: inline-block;
    
}

.github {
    border-color: black;
    color: black;
}

.facebook {
    border-color: skyblue;
    color: skyblue;
}
.contact {
    border-color: pink;
    color: pink;
}