@font-face {
  font-family: 'SpoqaHanSansNeo-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
p {
  font-family: 'SpoqaHanSansNeo-Regular';
}
@media screen and (max-width: 1920px) {
  .wrapper {
    display: flex;
    width: 100%;
    padding: 240px 360px 260px;
    column-gap: 100px;
  }
  .cont-txt {
    text-align: left;
  }
  .cont-txt strong {
    font-weight: bold;
  }
  .cont-txt h1 {
    font-size: 70px;
    line-height: 88px;
  }

  .cont-txt p {
    font-size: 20px;
    margin-top: 40px;
    line-height: 30px;
  }
  .cont-imgs {
    display: flex;
    flex-direction: column;
    width: 486px;
    height: 580px;
    row-gap: 20px;
  }
  .cont-imgs > div {
    position: relative;
    display: block;
    width: 486px;
    height: 280px;
    border-radius: 20px;
  }
  .cont-imgs > div:nth-child(1){
    background: url('./Rectangle\ 2.png'), rgba(18, 19, 20, 0.3);
  }
  .cont-imgs > div:nth-child(2){
    background: url('./Rectangle\ 3.png'), rgba(18, 19, 20, 0.3);
  }
  .cont-imgs div p {
    font-size: 30px;
    color: white;
    margin-top: 40px;
    margin-left: 40px;
    z-index: 10;
  }
  .cont-imgs div a {
    position: absolute;
    top: 230px;
    left: 373px;
    color: white;
    text-decoration: none;
    font-size: 16px;
    line-height: 20px;
    z-index: 100;
    justify-content: center;
    align-items: center;
  }
  .cont-imgs div .arrow {
    position: absolute;
    top: 235px;
    left: 443px;
    color: white;
  }
  .arrow {
    position: relative;
  }
  .arrow::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 8px;
    height: 8px;
    border-top: 2px solid white;
    border-right: 2px solid white;
    transform: rotate(45deg);
  }
}
@media screen and (max-width: 768px) {
  
}
@media screen and (max-width: 390px) {
  
}
