/* 상품 리스트 */
/* 상품 이미지 스타일 */


/* 상품 가격 스타일 */
.product-price {
  display: flex;
  align-items: center;
}

.product-price .price-discount {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.product-price .price-strikethrough {
  font-size: 16px;
  line-height: 20px;
  color: var(--sub-txt-color);
  text-decoration-line: line-through;
  margin-right: 10px;
}

/* 좋아요 버튼 */

.like-btn.on {
  background: url(../../assets/images/icon-heart-on.svg) no-repeat center / contain;
}


