.pink {
  width: 100px;
  height: 100px;
  background-color: pink;
}

.sky {
  width: 100px;
  height: 100px;
  background-color: skyblue;
}

.tomato {
  width: 100px;
  height: 100px;
  background-color: tomato;
}
